h2.title.page__title.
    Что такое Mavik 2 Pro?
.page__info
    .description.page__description
        p.text.description__text.
            Дрон Mavic 2 Pro - это инженерное чудо, идеальное для аэросъемки. 
            Дрон обладает всеми лучшими технологиями DJI, он преобразит мир аэросъемки.
        p.text.description__text.
            Mavic 2 Pro оснащен совершенно новой камерой Hasselblad L1D-20c. 
            Камера L1D-20c работает по уникальной технологии Hasselblad Natural Colour Solution (HNCS)5, 
            позволяющей пользователям делать великолепные снимки с воздуха с разрешением в 20 мегапикселей и потрясающими цветами.
    .presentation.page__presentation
        h3.title.title--m.presentation__title.
            Лучшая беспилотная технология аэросъемки
        .slider__border
        .slider.presention__slider
            .slider__wrapper
                .slider__inner
                    img.slider__img(src="./img/dji-mavic-2-pro-12-slider.jpg", alt="drone")
                    img.slider__img(src="./img/dji-mavic-2-pro-12-slider.jpg", alt="drone")
                    img.slider__img(src="./img/dji-mavic-2-pro-12-slider.jpg", alt="drone")
                    img.slider__img(src="./img/dji-mavic-2-pro-12-slider.jpg", alt="drone")
            .buttonContainer
                button.controller.controller--left.slider__controller
                button.controller.controller--right.slider__controller.controller--active


