.hero.page__hero   
    .hero__content
        h1.hero__title Mavic 2 Pro
        img(
            srcset="img/drone_360px.png 360w, img/drone.png 660w"
            sizes="(max-width: 360px) 360px, (min-width: 560px) 660px"
            src="img/drone.png" alt="Mavic drone"
            ).hero__img
        p.hero__desc.
            Квадрокоптер Dji Mavic 2 Pro с профессиональной камерой Hasselblad
    ul.socials.hero__socials
        li.socials__item
            a.socials__link(href='https://www.facebook.com/' target="_blank")
                img(src=`img/icons/fb.png`, alt=`fb`)
        li.socials__item
            a.socials__link(href='https://www.youtube.com/' target="_blank")
                img(src=`img/icons/yt.png`, alt=`yt`)
        li.socials__item
            a.socials__link(href='https://www.instagram.com/' target="_blank")
                img(src=`img/icons/ins.png`, alt=`ins`)