h2.title.page__title.page__title--qa.
    Остались вопросы?
.qa.page__qa
    .qa__wrapper
        .question.qa__question Какие отличия между Mavic 2 Pro и Mavic 2 Zoom?
            .question__answer.text.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Ipsa, eaque. Error sequi dolores illum, repellendus illo magni quod quibusdam tenetur sapiente vero quam
                necessitatibus blanditiis deserunt quisquam laboriosam saepe perferendis?
            button.controller.question__controller
        .question.qa__question  Чем Mavic 2 лучше Mavic Pro?  
            .question__answer.text.
                В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, 
                скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции 
                и уникальная функция Hyperlapse.
            button.controller.question__controller
        .question.qa__question Можно ли подключить Mavic 2 к очкам DJI Goggles?
            .question__answer.text.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Ipsa, eaque. Error sequi dolores illum, repellendus illo magni quod quibusdam tenetur sapiente vero quam
                necessitatibus blanditiis deserunt quisquam laboriosam saepe perferendis?
            button.controller.question__controller
        .question.qa__question Является ли Mavic 2 водонепроницаемым？
            .question__answer.text.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Ipsa, eaque. Error sequi dolores illum, repellendus illo magni quod quibusdam tenetur sapiente vero quam
                necessitatibus blanditiis deserunt quisquam laboriosam saepe perferendis?
            button.controller.question__controller
    img(src='img/bg/qa_drone.png').qa__img
