h2.title.page__title.page__title--specs.
    Характеристики
.specs.page__specs
    .specs__wrapper
        .specs__background
            img(src="img/drone.png" alt="Mavic drone").specs__img
            .specs__guidelines
        .textContainer.specs__textContainer
            h4.title.title--s.specs__title.
                Dlog-M 10 бит
            p.text.specs__text.
                Mavic 2 Pro поддерживает цветовой профиль Dlog-M 10 бит с более широким динамическим диапазоном, дающим больше возможностей для цветокоррекции.
        .textContainer.specs__textContainer
            h4.title.title--s.specs__title.
                Матрица CMOS 1
            p.text.specs__text.
                Зона активной работы новой 1-дюймовой матрицы CMOS в четыре раза превышает показатели Mavic Pro
        .textContainer.specs__textContainer
            h4.title.title--s.specs__title.
                Камера Hasselblad
            p.text.specs__text.
                Камера Hasselblad L1D-20С известны эргономичным дизайном и превосходным качеством изображений. 
        .textContainer.specs__textContainer
            h4.title.title--s.specs__title.
                Видео HDR
            p.text.specs__text.
                Благодаря поддержке видео 4K HDR 10 бит, Mavic 2 Pro можно подсоединить к совместимому с HLG 4K ТВ и просматривать запись в полном цветовом спектре
